{% extends "layout.html" %}
<!-- tiltle -->

{% block title %}About{% endblock %}

<!-- Body Starts Here -->

{% block body %}

<h1>About Us</h1>
<hr>

<div class="table-responsive">
<table class="mx-auto w-auto" style="width: 100%;">
    <tr class="d-flex">
        <td style= "width: 50%";> 
            <img width="500px" height="300px" class="about-img"  src="/static/images/img6.jpg" alt="img6">
        </td>
        <td style=  "width: 50%";>
            <h2>CREDIT CARD FRAUD PREDICTION MODEL</h2>
            <p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit sint provident recusandae nostrum aliquid magni quos
                cum molestiae ullam similique, quibusdam, suscipit, laborum numquam deleniti maxime consequatur natus quia? Iusto.
            </p>
        </td>
    </tr>
</table>
</div>





{% endblock %}